@use '../resuable/mixins.scss';

.popEvents {
  @include mixins.onDesktop;

  margin-top: 160px;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__viewAll {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__categories {
    display: flex;
    flex-direction: row;
    gap: 24px;
    text-align: start;
  }
  
  &__singleEvent {
    width: 302px;
    height: 411px;
    padding: 8px;
    border-radius: 16px;
    box-shadow:
      0px 4px 8px 0px rgba(23, 29, 46, 0.08), 
      0px 0px 5px 0px rgba(23, 29, 46, 0.06);
  }
}
