@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.footer {
  background-color: #232326;
  color: #fff;
  height: 375px;

  &__mainWrapper {
    padding-top: 64px;
    margin: 0 auto 32px;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-style: medium;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0;
    margin-bottom: 16px;
  }

  &__describe {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    letter-spacing: 150%;
    letter-spacing: 0;
  }

  &__secondWrapper {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }

  &__spotlyInfo, &__socials, &__helpColumn {
    display: flex;
    flex-direction: column;
    width: 181px;
  }

  &__describe, 
  &__company, 
  &__aboutUs, 
  &__contacts, 
  &__monitor, 
  &__insta, 
  &__telegram, 
  &__youtube, 
  &__facebook, 
  &__support, 
  &__faqAndHelp, 
  &__conditionOfUsing, 
  &__confidential {
    color: #fff;
    text-align: left;
  }

  &__company {
    text-transform: uppercase;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-style: semi-bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 32px;
  }

  &__aboutUs, &__contacts {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-style: semi-bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 16px;
  }

  &__aboutUs {
    margin-bottom: 16px;
  }

  &__monitor {
    font-family: "Nunito Sans";
    font-weight: 600;
    font-style: semi-bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 32px;
  }

  &__insta, &__telegram, &__youtube, &__facebook {
    font-family: "Nunito Sans";
    font-weight: 600;
    font-style: semi-bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 16px;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__helpColumn {
    font-family: "Nunito Sans";
    font-weight: 600;
    font-style: semi-bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 32px;
  }

  &__support {
    font-family: "Nunito Sans";
    font-weight: 600;
    font-style: semi-bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 32px;
  }

  &__faqAndHelp, &__conditionOfUsing, &__confidential {
    font-family: "Nunito Sans";
    font-weight: 600;
    font-style: semi-bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 16px;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__line, &__rights {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__line {
    margin-bottom: 32px;
    height: 1px;
    width: 100%;
    background-color: #fff
  }

  &__rights {
    font-family: 'Nunito Sans';
    font-weight: 400;
    color: #f8f7fa;
    font-size: 14px;
    font-style: regular;
    line-height: 150%;
    letter-spacing: 0;
    margin-bottom: 60px;
  }
}
