@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.modal {
  background-color: rgba(20, 19, 20, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 12;

  &__window {
    z-index: 12;
    opacity: none;
    overflow: auto;
    background-color: #fff;
    width: 480px;
    height: 600px;
    margin: 40px auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;

    position: relative;

    &--isLoading {
      pointer-events: none;
      position: relative;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    border: none;
  }

  &__iconButton {
    position: absolute;
    right: 0;
    width: min-content;
    height: fit-content;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    margin-right: 24px;
    margin-top: 24px;
  }

  &__text {
    text-align: center;

    &--question {
      margin-top: 24px;
      margin-bottom: 14px;
      font-size: 16px;
    }
  }

  &__title {
    margin-top: 60px;
    margin-bottom: 8px;
    font-family: "IBM Plex Serif", serif;
    font-style: SemiBold;
    line-height: 130%;
    font-weight: 600;
    font-size: 28px;
    color: #232326;
  }

  &__describe {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 150%;
    color: #464649;
    margin-bottom: 24px;
  }

  &__optionsNetworks {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-inline: 32px;
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    width: 100%;
    border: 1px solid #dbdbe2;
    height: 48px;
    border-radius: 24px;

    &:hover {
      border: 1px solid #707073;
    }

    &:focus {
      background-color: #f0f0f5;
      border: 1px solid #707073;
    }

    &--icon {
      margin-right: 8px;
    }

    &--email {
      color: #fff;
      background-color: #232326;
      border: none;
      transition: background-color 0.3s;

      &:hover {
        background-color: #2f2f32;
        border: none;
        transition: background-color 0.3s;
      }

      &:focus {
        background-color: #1C1C1F;
        border: none;
        transition: background-color 0.3s;
      }
    }

    &--enter {
      margin-top: 32px;
      margin-bottom: 24px;
    }
  }

  &__textWrapper {
    position: relative;
    margin-inline: 32px;
    margin-block: 24px;
  }

  &__textLine {
    &::before {
      content: '';
      background-color: #dbdbe2;
      width: 44%;
      position: absolute;
      bottom: 8px;
      height: 0.5px;
      left: 0px;
      right: 19px;
    }

    &::after {
      content: '';
      background-color: #dbdbe2;
      position: absolute;
      right: 0;
      bottom: 8px;
      width: 44%;
      height: 0.5px;
    }
  }

  &__isAccount {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 24px;

    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: regular;
    line-height: 150%;
    letter-spacing: 0;
    color: #707073;

    &--enter {
      margin-bottom: 24px;
      font-size: 14px;
    }
  }

  &__letsRegistrait {
    font-weight: 600;
    color: #232326;
    padding: 0;
    border: none;
    font-size: 14px;

    &:focus {
      border: none;
      outline: none;
    }
  }

  &__login {
    display: flex;
    flex-direction: column;
    margin-inline: 32px;
  }

  &__inputWrapper {
    margin-bottom: 20px;

    &--second {
      margin-bottom: 32px;
    }

    &--describe {
      margin-bottom: 4px;
    }
  }

  &__toggleIconWrapper {
    position: relative;
  }

  &__passwordToggleIcon {
    position: absolute;
    right: 16px;
    top: 18px;
  }

  &__input {
    width: 100%;
    border-radius: 12px;
    height: 48px;
    border: 1px solid #dbdbe2;
    padding-inline: 16px;
    box-sizing: border-box;
    margin-top: 4px;
    
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #888888;
    }
  } 

  &__isAccount {
    margin-bottom: 60px;
  }

  &__topBar {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-inline: 24px;
  }

  &__footer {
    margin-inline: 32px;
    display: inline;
    position: relative;
    text-align: center;
    font-size: 14px;
    margin-bottom: 64px;
    
    &--level {
      &-0 {
        display: flex;
      }

      display: flex;
      align-items: center;
      width: 416px;
    }
  }

  &__letsRegistrait--2 {
    white-space: nowrap;
    top: 12px;
  }

  &__letsRegistrait--3 {
    white-space: nowrap;
  }
}
