.category__button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 4px 8px 0px #171D2E14, 0px 0px 5px 0px #171D2E0F;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s;

  img {
    width: 28px;
    height: 28px;
    transition: transform 0.3s;
  }

  &:hover {
    box-shadow: 0px 6px 10px 0px #171D2E1A, 0px 0px 7px 0px #171D2E0F;

    img {
        transform: scale(1.15);
        filter: invert(34%) sepia(87%) saturate(6447%) hue-rotate(245deg) brightness(97%) contrast(95%);
      }

      ~ p {
        color: #7048F4;
      }
  }
}

.category__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #F8F7FA;
  box-shadow: 0px 4px 10px 0px #171D2E1F, 0px 0px 2px 0px #171D2E0A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  top: 22px;
  left: 22px;
  z-index: 2;

  img {
    width: 16px;
    height: 16px;
    filter: invert(34%) sepia(87%) saturate(6447%) hue-rotate(245deg) brightness(97%) contrast(95%);
  }
}