@use '../resuable/mixins' as mixin;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.swiper-slide {
  margin: 0 !important;
}

.header {
  
  background-image: linear-gradient(
    to bottom, 
    #e1d9ff,
    #fbfaff, 
    #ffffff,
  );


  &__title, &__subTitle {
    margin: auto;
    width: fit-content;
    letter-spacing: 0;
    text-align: center;

    @include mixin.onPhones {
      margin-inline: 10px;
    }

    @include mixin.onTablet {
      margin-inline: 40px;
    }
  }

  &__title {
    margin: 112px auto 24px;
    line-height: 100%;
    font-weight: 700;
    font-size: 40px;
    font-family: 'IBM Plex Serif', serif;
    color: #232326;
  }

  &__subTitle {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-style: 18px;
    line-height: 150%;
    color: #464649;
    text-align: center;
    margin: auto;
  }

  &__searchBarContainer {
    display: flex;
    height: 64px;
    align-items: center;
    border: 1px solid #dbdbe2;
    border-radius: 32px;
    width: fit-content;
    margin: auto;
    margin-top: 48px;
    position: relative;

    box-shadow:
      0px 4px 8px 0px rgba(23, 29, 46, 0.08),
      0px 0px 5px 0px rgba(23, 29, 46, 0.06);
  }

  &__seekEvents {
    height: 32px;
    border: none;
    width: 266px;
    margin-left: 24px;
    border-right: 1px solid #b6b6bc;

    &::placeholder {
      font-family: 'Nunito Sans';
      font-weight: 400;
      font-style: 16px;
      color: #707073;
      line-height: 100%;
      letter-spacing: 0;
    }
  }

  &__seekTownsWraper {
    border: none;
  }

  &__decisions {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 112px;
    margin: 112px auto 0;
    max-width: 1280px;
    // box-sizing: border-box;
  }

  &__decisionsSwiper {
    margin: 0 !important;
  }

  &__swiperSlide {
    width: fit-content !important;
    margin-right: 32px !important;

    &--last {
      margin-right: 0 !important;
    }
  }

  &__singleDecision {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    justify-content: center;
    
    @include mixin.onPhones {
      width: min-content;
    }

    @include mixin.onTablet {
      width: 159px;
    }
  }

  &__decisionsImage {
    margin: auto;

    @include mixin.onPhones {
      width: 60px;
      height: 60px;
    }

    @include mixin.onBigScreenCustom {
      width: 80px;
      height: 80px;
    }
  }

  &__seekArrowDown {
    position: absolute;
    left: 375px;
  }

  &__location {
    position: absolute;
    left: 309px;
  }
}
